#mlcc-title {
  margin-bottom: 0;
}

#mlcc-subtitle {
  margin-top: 0;
}

.mlcc-landing-hero .devsite-landing-row-item,
.mlcc-landing-mce .devsite-tracking-question-text h3 {
  text-align: center;
}

.devsite-landing-row:not(.devsite-background):not([background]):not(.devsite-landing-row-cta):not(.devsite-landing-row-marquee).mlcc-landing-hero {
  padding: 0;
}

.mlcc-landing-hero {
  height: 550px;
  margin: 0 calc(50% - 50vw);
  overflow: hidden;
  position: relative;
}

.mlcc-landing-hero h3 {
  color: #fff;
  font: 400 44px/52px Google Sans, sans-serif;
  min-width: 400px;
  width: 50%;
}

.mlcc-landing-hero .devsite-landing-row-item-description {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 30px;
  position: absolute;
  width: 100%;
}

.mlcc-landing-hero .devsite-landing-row-item-description-content .course-description {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin: 5px 0 15px 0;
}


.mlcc-landing-cta-description .devsite-landing-row-item-buttons,
.mlcc-landing-hero .devsite-landing-row-item-buttons {
  margin-left: -20px;
  margin-top: 8px;
}

.mlcc-landing-cta-description .devsite-landing-row-item-buttons .button,
.mlcc-landing-hero .devsite-landing-row-item-buttons .button {
  margin-left: 20px;
}

.mlcc-landing-cta-description .devsite-landing-row-item-description-content {
  margin: 20px auto;
}

.mlcc-landing-hero-video {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: auto;
  z-index: -1;
}

.devsite-landing-row.mlcc-landing-module-description {
  background-color: rgba(0, 0, 0, .87);
  color: #fff;
  height: 100px;
  left: calc(50% - 50vw);
  opacity: .86;
  position: relative;
  top: -100px;
  width: 100vw;
}

.mlcc-landing-module-description .devsite-landing-row-group {
  text-align: center;
  margin-top: -15px;
}

@media screen and (max-width: 720px) {
  .mlcc-landing-module-description .devsite-landing-row-item {
    flex-direction: row;
  }

  .devsite-landing-row-2-up:not(.devsite-landing-row-logos)
  .devsite-landing-row-item:not(.devsite-landing-row-item-no-image),
  .devsite-landing-row-3-up:not(.devsite-landing-row-logos)
  .devsite-landing-row-item:not(.devsite-landing-row-item-no-image) {
    flex-direction: column;
  }
}

.mlcc-module-description-item {
  flex-grow: 1;
  font-size: 36px;
}

.mlcc-module-description-item p {
  font-size: 22px;
}

.mlcc-landing-course-description {
  margin-top: -75px;
}

.mlcc-landing-course-description .devsite-landing-row-item-image {
  margin: 0 auto;
}

.mlcc-landing-card-noimage {
  padding: 8px 12px;
}

.mlcc-landing-large-header h3 {
  font: 400 22px/30px Google Sans, sans-serif;
}

.mlcc-landing-mce .devsite-tracking-question {
  background-color: #fff;
  margin: 0 auto;
  width: 80%;
}

.mlcc-landing-mce .devsite-tracking-question-choice-button {
  background: #42a5f5;
  text-align: left;
}

.devsite-landing-row-cta {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mlcc-landing-mc-cta-button-container {
  padding: 24px 0;
  text-align: center;
}

.mlcc-landing-features {
  text-align: center;
}

.mlcc-landing-questions .devsite-landing-row-item-description-content,
.mlcc-landing-features .devsite-landing-row-item-description-content {
  margin: 0 auto 32px;
  min-width: 400px;
  width: 50%;
  text-align: center;
}

.mlcc-landing-questions .devsite-landing-row-item-description h3,
.mlcc-landing-features .devsite-landing-row-item-description h3 {
  color: #414141;
  font: 400 44px/52px Google Sans, sans-serif;
  margin: 40px auto 20px;
  min-width: 400px;
  text-align: center;
  width: 50%;
}

.mlcc-landing-cta-description .devsite-landing-row-item-description-content,
.mlcc-landing-questions .devsite-landing-row-item-description-content,
.mlcc-landing-features .devsite-landing-row-item-description-content {
  color: #263238;
  font: 300 18px/26px Roboto, sans-serif;
}

.mlcc-landing-questions .devsite-landing-row-item-list,
.mlcc-landing-features .devsite-landing-row-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item,
.mlcc-landing-features .devsite-landing-row-item-list-item {
  margin: 20px 0;
  width: 30%;
}

.mlcc-landing-features .devsite-landing-row-item-list-item p {
  color: #414141;
  font-size: 22px;
  line-height: 30px;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item p {
  color: #414141;
  font-size: 18px;
  line-height: 28px;
  transition: color .3s;
}

.mlcc-landing-questions[background] :link .devsite-landing-row-item-list-item-description > *:first-child,
.mlcc-landing-questions.devsite-background :link .devsite-landing-row-item-list-item-description>*:first-child {
  text-decoration: none;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item {
  border-top: 1px solid #b0bec5;
  padding: 15px 0 0 30px;
  position: relative;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item:hover p {
  color: #757575;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item::before,
.mlcc-landing-questions .devsite-landing-row-item-list-item::after {
  background: url(/machine-learning/crash-course/images/landing-circle-arrow.svg) center/contain no-repeat;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 15px;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item::after {
  background: url(/machine-learning/crash-course/images/landing-circle-arrow-hover.svg) center/contain no-repeat;
  visibility: hidden;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item:hover::before {
  visibility: hidden;
}

.mlcc-landing-questions .devsite-landing-row-item-list-item:hover::after {
  visibility: visible;
}

.mlcc-landing-features .devsite-landing-row-item-list-item-content {
  align-items: center;
  flex-direction: column;
}

.mlcc-landing-features .devsite-landing-row-item-list-item-icon-container {
  height: auto;
  margin: 0 0 5px;
  width: auto;
}

.mlcc-landing-features .devsite-landing-row-item-list-item-icon {
  height: 150px;
  width: auto;
}

.mlcc-landing-questions .devsite-landing-row-item-list {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  text-align: left;
}

.mlcc-landing-cta-description .devsite-landing-row-item {
  color: #414141;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  margin: 0 auto;
  min-width: 400px;
}

.mlcc-landing-cta-description h3 {
  font: 400 44px/52px Google Sans, sans-serif;
}

.devsite-landing-row-item.devsite-foreground-theme .mlcc-landing-button-secondary.button:not(.button-disabled) {
  color: #fff;
  border: 1px solid #fff;
  height: 40px;
  padding: 10px 20px;
  transition: color .3s, background-color .3s;
}

.devsite-landing-row-item.devsite-foreground-theme .mlcc-landing-button-secondary.button:not(.button-disabled):hover {
  background-color: #fff;
  color: #414141;
}

.mlcc-landing-cta-description .mlcc-landing-button-secondary {
  color: #3367d6;
  border: 1px solid #3367d6;
  height: 40px;
  padding: 10px 20px;
  transition: color .3s, border .3s;
}

.mlcc-landing-cta-description .mlcc-landing-button-secondary:hover {
  border: 1px solid #4285f4;
  color: #4285f4;
}

.mlcc-landing .button-primary,
.mlcc-landing .devsite-landing-row-item.devsite-foreground-theme .button.button-primary:not(.button-disabled) {
  background-color: #3367d6;
  height: 40px;
  padding: 10px 20px;
  transition: background-color .3s;
}

.mlcc-landing .button-primary:hover,
.mlcc-landing .devsite-landing-row-item.devsite-foreground-theme .button.button-primary:not(.button-disabled):hover {
  background-color: #4285f4;
}

.devsite-product-id-row {
  display: none;
}

@media (max-width: 1300px) {
  .mlcc-scrollable-iframe-container {
    /** Makes the container div for an iframe y-scrollable so large interactions
     * *   like TF Playground can be used on mobile.
     */
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.devsite-multiple-choice-question {
  /** These questions typically inherit from the site color theme set in
   *    _project.yaml. Since MLCC has a white theme now, hard coding the
   *    google-blue color and the contrasting text color
   **/
  background: #4285f4;
  color: #fff;
}

.devsite-multiple-choice-question a {
  color: #fff;
  text-decoration: underline;
}

.devsite-multiple-choice-question code {
  background: none;
  color: #fff;
}

pre.mlcc-good {
  background-color: #cdebdd;
  color: #000;
}

pre.mlcc-bad {
  background-color: #f7d2ce;
  color: #000;
}

td.mlcc-bad {
  background-color: #ff9999;
}

td.mlcc-good {
  background-color: #99ff99;
}

/* Toggle on centering of table-cell text */
table.center td {
  text-align: center;
}

pre.mlcc-good .devsite-code-button-wrapper,
pre.mlcc-bad .devsite-code-button-wrapper {
  /** Hide the code theme toggle
   *  1. The background color is set to be green or red
   *  2. There is a check mark tick and an 'x' to reinforce the good/bad and
   *     support users who are colorblind.
   **/
  display: none;
}



.mlcc-good-check {
  font-family: "Courier", monospace;
  float: right;
}

.mlcc-bad-x {
  font-family: "Courier", monospace;
  float: right;
}

/* Highlighting for table rows/cells */

tr.highlight td,
tr td.highlight,
tr th.highlight {
  background-color: #f7f7b0;
}

tr.highlight-bad td,
tr td.highlight-bad,
tr th.highlight-bad {
  background-color: #f76868;
}

table.glossary {
  border-width: 0;
}

ul.devsite-nav-section.devsite-nav-section-expanded
  a.devsite-nav-title:not([href*='video-lecture'])::before {
  content: 'subject';
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 16px;
  position: relative;
  text-transform: none;
  top: 3px;
  width: 21px;
}

/**
 * Match programming-exercise or programming exercises.
 */
ul.devsite-nav-section.devsite-nav-section-expanded
  a.devsite-nav-title[href*='programming-exercise']::before {
  content: 'code';
}

/**
 * Match playground-exercise or playground-exercises.
 */
ul.devsite-nav-section.devsite-nav-section-expanded
  a.devsite-nav-title[href*='playground-exercise']::before {
  content: 'touch_app';
}

/**
 * Match check-your-intuition and check-your-understanding.
 */
ul.devsite-nav-section.devsite-nav-section-expanded
  a.devsite-nav-title[href*='check-your-intuition']::before,
ul.devsite-nav-section.devsite-nav-section-expanded
  a.devsite-nav-title[href*='check-your-understanding']::before {
  content: 'check_circle';
}

/**
 * Match video-lecture.
 * Uses background image because the video icon is proprietary and can't be
 *   included as font icon / content attribute.
 */
ul.devsite-nav-section.devsite-nav-section-expanded
a.devsite-nav-title[href*='video-lecture'] {
  background-image: url(images/video_icon.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 22px;
}

 /**
  * Hard coded video icons for single item sections.
  * Uses background image because the video icon is proprietary and can't be
  *   included as font icon / content attribute.
  */
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='ml-intro'],
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='production-ml-systems'],
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='cancer-prediction'],
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='18th-century-literature'],
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='real-world-guidelines'] {
  background-image: url(images/video_icon.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 21px;
}

/**
 * Hard coded text icons for single item sections.
 */
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='faq']::before,
.devsite-nav-item:not(.devsite-nav-item-section-expandable)
  a.devsite-nav-title[href*='prereqs-and-prework']::before {
  content: 'subject';
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 16px;
  position: relative;
  text-transform: none;
  top: 3px;
  width: 21px;
}

/* li elements containing exercise tables should be display: inline,
   so whitespace is rendered properly */
li.exercise-table {
  display: inline;
}

td.glossary {
  background-color: #fff;
  color: #000;
  visited: #9c9;
}
.expand-background {
  background-color: rgb(232, 232, 232);
  border-radius: 0 4px 4px 4px;
  border-width: 0 1px 1px 1px;
  margin-left: 40px;
  padding: 5px 5px 5px 9px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.expand-background .devsite-table-wrapper{
  border: 1px solid #9E9E9E;
}

.expand-background pre {
  background-color: inherit;
  color: inherit;
}

.expand-background .devsite-code-button-wrapper {
  display: none;
}

/* For left-aligning equations where appropriate */
div.left-align div.MathJax_SVG_Display {
  text-align: left !important;
}

/* Estimated time callouts */
aside.note.time::before {
  content: 'schedule';
}

/* Example callouts */
aside.note.example::before {
  content: 'event_note';
}

/* SVG handling */
.doc-svg-container svg {
  max-height: 100%;
  max-width: 100%;
}

/**
 * Content only for users with screen readers (will not be visible).
 */
.hidden {
  height: 1px;
  left: -10000px;
  top: auto;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@media (max-width: 800px) {
  .mlcc-landing-hero h3 {
    font-size: 32px;
    line-height: 40px;
    min-width: 0;
    width: auto;
  }

  .mlcc-landing-cta-description .button,
  .mlcc-landing-hero .button {
    margin-bottom: 20px;
  }

  .mlcc-landing-cta-description .devsite-landing-row-item,
  .mlcc-landing-questions .devsite-landing-row-item-description-content,
  .mlcc-landing-features .devsite-landing-row-item-description-content {
    min-width: 0;
    width: auto;
  }

  .mlcc-landing-questions .devsite-landing-row-item-description h3,
  .mlcc-landing-features .devsite-landing-row-item-description h3,
  .mlcc-landing-cta-description h3 {
    font-size: 32px;
    line-height: 40px;
    min-width: 0;
    width: auto;
  }

  .mlcc-landing-features .devsite-landing-row-item-list-item p {
    font-size: 16px;
    line-height: 24px;
  }

  .mlcc-landing-features .devsite-landing-row-item-list-item {
    padding: 0 10px;
    width: 50%;
  }

  .mlcc-landing-questions .devsite-landing-row-item-list-item {
    margin: 15px 0 5px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .mlcc-landing-card-noimage {
    padding: 0;
  }
}
